
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background:gray;  
        border-radius: 15px ;  
          
}  
h2{  
    text-align: center;  
    width: 485px;  
    overflow: hidden;  
    margin: auto;  
    color: brown;  
    background-color: blanchedalmond;  
    padding: 18px;  
    margin: 20 0 0 450px; 
    border-radius: 13px;   
}  
label{  
    color: black;  
    font-size: 17px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 13px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 13px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 13px;  
    padding-left: 7px;  
    color: indigo;
    background-color:yellowgreen;  
  
  
}  
span{  
    color: white;  
    font-size: 17px;  
}  
a{  
    float: left;  
    background-color: blanchedalmond; 
    color:red; 
}  
.a1{  
    float:right;  
    background-color:palegreen; 
    color:red;  
}  